---
http_interactions:
- request:
    method: get
    uri: https://content.crossroads.net/api/contentblock?category%5B%5D=common
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 27 Jul 2018 15:26:50 GMT
      Etag:
      - 8cee65128983edd27138811e74fc688c7b7cef61
    body:
      encoding: ASCII-8BIT
      string: '{"contentblocks":[{"id":1,"title":"generalError","content":"<p><strong>Oh
        no!<\/strong> Looks like there''s an error. Please fix and try again.<\/p>","type":"error","category":"common","className":"ContentBlock"},{"id":61,"title":"myTrips","content":"<p>Use
        this page to view your trips and check your fundraising progress. You can
        also share your fundraising page with your family and friends by using the
        social links below. And don''t forget to send them a thank you message when
        they donate to your trip.<\/p>","type":"info","category":"common","className":"ContentBlock"},{"id":70,"title":"TripAgeLimitReached","content":"<p>You
        are not old enough to go on this trip. If you want to learn more about the
        age restriction, email ReachOut at\u00a0<a href=\"mailto:GOTrips@crossroads.net\">GOTrips@crossroads.net<\/a>.<\/p>","type":"error","category":"common","className":"ContentBlock"},{"id":72,"title":"invalidPasswordResetKey","content":"<p><span
        class=\"rally-rte-class-09b4bb06b\">Sorry, it looks like this forgot password
        link has expired. To reset your password again, please fill out the\u00a0<\/span>forgot
        password form<span class=\"rally-rte-class-09b4bb06b\">.<\/span><\/p><p><\/p>","type":"error","category":"common","className":"ContentBlock"},{"id":74,"title":"no_giving_history","content":"<h4>You
        have no recorded giving history.<\/h4><p>Learn more about our <a href=\"\/financialphilosophy\/\">financial
        philosophy<\/a>, start <a href=\"#\" ui-sref=\"give\">giving now<\/a>, or
        contact <a href=\"mailto:giving@crossroads.net\">giving@crossroads.net<\/a>
        for more information.<\/p><p><a class=\"btn btn-lg btn-secondary\" href=\"\/give\">Give
        Now<\/a><\/p>","type":"info","category":"common","tags":[7,8],"created":"2015-08-27T14:08:43-04:00","className":"ContentBlock"},{"id":75,"title":"TripRegistrationNotOpen","content":"<p>Registration
        is not open.<\/p>","type":"error","category":"common","className":"ContentBlock"},{"id":76,"title":"forgotPasswordInstructions","content":"<p
        class=\"font-size-small\">Please enter the email address you used when creating
        an account. We will email you a secure link where you may reset your password.<\/p>","type":"info","category":"common","classNam[...]
